{% extends "layout.html" %}

{% block title %}
    DYAVA: About Us
{% endblock %}

{% block main %}
    <div class="spacer"></div>
    <div class="about-header d-flex align-items-center">
        <img src="/static/graphics/palette.jpg" class="">
    </div>
    <br>

    <div class="container about">
        <div class="row text-center">
            <div class="col-lg-6 order-md-2 order-sm-2 order-2 d-flex align-items-center justify-content-center">
                <div class="about-us-wrapper text-center">
                    <h1 class="text-center">ABOUT US</h1>
                    <hr>
                    <h5>DYAVA, or Dimiao Young Aspiring Visual Artists, is an organization of aspiring visual artists from Dimiao, Bohol, Philippines. Founded in January 2022, we strive to be a catalyst in the local art community for exceptional artistic skills and creative expression. By advancing equitable opportunities for arts participation and practice through art lessons, workshops, live paintings and art exhibits, we foster an environment in which young artists can showcase their skills and get the support they need.</h5>
                </div>
            </div>
            <div class="col-lg-6  vector-wrapper d-flex align-items-center justify-content-center">
                <img src="/static/graphics/painting-vector-01.png" class="vector-painting">
            </div>
        </div>

        <hr>
        <br><br>

        <div class="row text-center">
            <div class="col-lg-6 womanpainting-wrapper d-flexjustify-content-start">
                <img src="/static/graphics/womanpainting-01.png">
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div class="about-us-wrapper text-start">
                    <h1 class=text-center>VISION</h1>
                    <h5 class="text-center">To be the leading voice and representation in terms of Visual Arts and Visual Artists of the Municipality of Dimiao, and Province of Bohol, serving as a beacon to the town’s Young Aspiring Artists of the future generation.
                        <br><br>Through exposure to various, diverse creative works, and endeavoring hard on organizational goals shall strengthen itself to become a leader in creative expression for its growing artistic community.
                    </h5>
                    <br><br>
                    <hr>
                    <br><br>
                    <h1 class="text-center">MISSION</h1>

                    <h5 class="text-center">The DYAVA shall lead in promoting the Visual Arts, the welfare of the organization and its member artists, the Municipality of Dimiao and the Province of Bohol, by fostering art appreciation, creative expression and artistic growth through exhibition of artworks and educational opportunities for its members.
                        <br><br>The organization shall be an avenue for fostering critical and creative ideas, artistic expressions, encouragement to the young aspiring artist, and participative community engagement.
                    </h5>
                </div>
            </div>
        </div>
        <hr>

        <div class="row text-center">

            <div class="col-lg-6 order-md-2 order-sm-2 order-2 d-flex align-items-center justify-content-center">
                <div class="about-us-wrapper text-start">
                    <h1 class="text-center">VALUES</h1>

                    <table class="table table-striped table-bordered">
                        <tbody>
                          <tr class="text-center">
                            <td><h1>H</h1></td>
                            <td><h5>HUMILITY</h5><h6>Artistry fosters equality. Don’t think that you are better than other artists.</h6></td>
                          </tr>
                          <tr class="text-center">
                            <td><h1>E</h1></td>
                            <td><h5>EXCELLENCE</h5><h6>In pursuit of the highest quality and level of artistry in visual arts.</h6></td>
                          </tr>
                          <tr class="text-center">
                            <td><h1>A</h1></td>
                            <td><h5>ARTISTRY</h5><h6>In pursuit of creative endeavors and expressions, especially in visual arts.</h6></td>
                          </tr>
                          <tr class="text-center">
                            <td><h1>R</h1></td>
                            <td><h5>RESPECT</h5><h6>Respect and value the artworks of each artist, as a perspective-oriented means to self, creative expression.</h6></td>
                          </tr>
                          <tr class="text-center">
                            <td><h1>T</h1></td>
                            <td><h5>TEAM WORK</h5><h6>We paint as a team, work as a team, and succeed together as a team.</h6></td>
                          </tr>
                          <tr class="text-center">
                            <td><h1>C</h1></td>
                            <td><h5>COOPERATION</h5><h6>Every Artist should be responsive and participative in all organizational activities, as part of his duties and responsibilities as DYAVA member, towards participative engagement and creative/artistic growth.</h6></td>
                          </tr>
                          <tr class="text-center">
                            <td><h1>C</h1></td>
                            <td><h5>CRAFT</h5><h6>Valuing the craft as a priceless skill to be sharpened for personal, professional and organizational advancement. </h6></td>
                          </tr>

                        </tbody>
                      </table>

                </div>
            </div>
            <div class="col-lg-6 womanpainting-wrapper d-flex justify-content-end">
                <img src="/static/graphics/manhead-02.png">
            </div>
        </div>
        <div class="spacer"></div>
    </div>

{% endblock %}

