{% extends "layout.html" %}

{% block title %}
    DYAVA: Reset Password
{% endblock %}

{% block main %}
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    <div class="spacer"></div>
    </div>
{% endblock %}